@media only screen and (min-width: 1024px)
{
    .topo2
    {
        margin-top: -12rem;
    }

    .campo
    {
        margin-top: 24vh;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 2vh;
        font-size: 150%;
        padding: 2vh;
        border-radius: 3vh;
        background-color: #fdda16;
        color: #000;
        text-align: center;
    }

    .campo p 
    {
        display: table;
        margin-left: 36vw;
    }

    .campo input
    {
        height: 2rem;
        width: 20rem;
        margin-top: 1rem;
        border-radius: 2vh;
        font-size: 100%;
    }

    #p1
    {
       margin-left: -25vw; 
    }

    #email
    {
        width: 25rem;
    }

    #p2
    {
        margin-left: 15vw;
        margin-top: -10rem;
    }

    #botao
    {
        height: 5vh;
        width: 10vw;
        cursor: pointer;
        font-size: 85%;
    }

    #botao:hover
    {
        width: 10%;
        text-decoration: underline;
    }

    /* css combos*/

    .topo3
    {
        margin-top: -0.5rem;
    }
}