@media only screen and (min-width: 1024px) {


    footer {
        height: 15rem;
        padding: 2.8rem;
        position: static;
        background-color: #fdda16;
        text-align: center;
        box-shadow: 0px 0px 5px 0px #c5a801;
    }

    footer p {
        margin-top: -3rem;
    }

    .infos {
        margin-top: -5rem;
    }

    .infos a {
        width: 3vw;
        text-decoration: none;
        color: #000;
    }

    .infos a:visited {
        color: #000;
    }

    .infos h2 {
        font-size: 150%;
        padding-bottom: 1rem;
        list-style: none;
        text-align: center;
    }
}