@media only screen and (min-width: 720px) {
    .redes {
        margin-top: -10vh;
        margin-right: 60vw;
        display: block;
        padding-top: 10vh;
    }

    .infos {
        margin-top: -8rem;
        margin-left: 55vw;
        display: block;
        padding-top: 7vh;
    }

    .infos h2:hover {
        font-size: 175%;
        color: #0f0e0e;
    }

    .infos h2 {
        width: 9vw;
        margin-bottom: 1rem;
        list-style: none;
        text-align: center;
    }
}