@media only screen and (min-width: 1024px) {

    footer {
        height: 22rem;
        padding: 2.8rem;
        position: static;
        background-color: #fdda16;
        text-align: center;
        box-shadow: 0px 0px 5px 0px #c5a801;
    }

    footer p {
        margin-top: 7rem;
        margin-left: 25.3rem;
        display: inline-flex;
    }

    .infos {
        float: left;
    }

    .infos a {
        width: 3vw;
        text-decoration: none;
        color: #000;
    }

    .infos h2 {
        margin-left: 13rem;
        padding-bottom: 1rem;
        list-style: none;
        text-align: center;
    }

    .maps{       
        display: block;
        justify-content: center;
        align-items: center;
        margin-right: 12rem;
        margin-top: -10rem;
        padding-bottom: 6rem;
        float: right;
        border-radius: 2rem;
    }

    .maps a{
        color: #000;
        text-decoration: none;
        font-size: 100%;
        padding-bottom: 1rem;
        list-style: none;
        text-align: center;
    }

    .maps a:hover{
       font-size: 120%; 
    }

    iframe{
        border: 1;
        border-color: #000;
        border-radius: 0.5rem;
        width: 18.5rem;
        height: 10rem;
    }
}