@media only screen and (min-width: 1024px) {


    footer {
        height: 33vh;
        width: 100vw;
        position: static;
        background-color: #fdda16;
        text-align: center;
        box-shadow: 0px 0px 5px 0px #c5a801;
    }

    footer p {
        margin-top: -4.5vh;
    }





    .redes {
        margin-top: -15vh;
        margin-right: 50vw;
        display: inline-block;
    }

    .infos {
        margin-top: -25vh;
        margin-left: 55vw;
        display: inline-block;
    }

    .infos a {
        width: 3vw;
        text-decoration: none;
        color: #000;
    }

    .infos a:visited {
        color: #000;
    }

    .infos h2 {
        font-size: 150%;
        width: 12vw;
        padding-bottom: 2vw;
        list-style: none;
        text-align: center;
    }
}