@media only screen and (min-width: 1024px) {

    .topo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header li img {
        width: 10rem;
    }

    .cab-desk {
        visibility: visible;
        float: right;
    }

    #menu-ham {
        display: none;
    }

    .cab-desk ul li {
        padding: 1vh;
        margin-left: 1.5vw;
        font-size: 2rem;
        visibility: visible;
        display: inline;
    }

    .cab-desk a {
        text-decoration: none;
        color: #000;
    }

    .cab-desk a:hover {
        font-size: 2.5rem;
        transition: 0.1s;
        text-decoration: underline;
        color: #000;
    }
}