.topo4 {
    margin-top: -10.7rem;
}

.svm {
    margin-top: 23vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3vh;
}

.svm p {
    font-size: 125%;
}

.titulo {
    font-size: 175%;
}

.sobrenos {
    padding: 2vh;
    border-radius: 3vh;
    background-color: #fdda16;
    color: #000;
    text-align: center;
}

.slogan {
    font-size: 120%;
    font-weight: bold;
}

.sobrenos img {
    width: 85vw;
    height: 60vh;
    border-radius: 3vh;
}

.valores {
    padding: 2vh;
    border-radius: 3vh;
    background-color: #fdda16;
    color: #000;
}

.valores img {
    width: 85vw;
    height: 60vh;
    border-radius: 3vh;
}

.valores h5 {
    margin-top: 2rem;
    margin-left: 5vw;
    text-align: left;
    font-size: 165%;
}

.valores h5:hover {
    text-decoration: underline;
}

.valores p {
    text-align: left;
    margin-left: 5vw;
    margin-top: 0;
}

.missao {
    padding: 2vh;
    border-radius: 3vh;
    color: #000;
    background-color: #fdda16;
}

.missao img {
    width: 85vw;
    height: 60vh;
    border-radius: 3vw;
}