footer {
    margin-top: 2vh;
    width: 100vw;
    position: static;
    background-color: #fdda16;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #c5a801;
    font-size: 2vh;
}

footer p {
    margin-top: 5rem;
    margin-left: 35vw;
    width: 23vw;
    text-align: center;
}

.redes {
    margin-top: 7vw;
    margin-right: -4vw;
    padding-bottom: 5vw;
    display: inline-block;
}

.redes a {
    text-decoration: none;
    color: #000;
}

.redes h2 {
    margin-left: -5vw;
    padding-bottom: 7.5vw;
    text-align: center;
}

.redes h3{
    margin-left: -5vw;
}

.maps {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 15.5vw;
    padding-bottom: 1rem;
    float: right;
    border-radius: 2rem;
}

.maps a {
    color: #000;
    text-decoration: none;
    font-size: 100%;
    padding-bottom: 1rem;
    list-style: none;
    text-align: center;
}

iframe {
    border: 1;
    border-color: #000;
    border-radius: 0.5rem;
    width: 15rem;
    height: 10rem;
    
}