.topo2 {
    margin-top: -12rem;
}

.campo {
    margin-top: 25vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    font-size: 120%;
    padding: 2vh;
    border-radius: 3vh;
    background-color: #fdda16;
    color: #000;
    text-align: center;
}

.campo p {
    display: table;
    margin-left: 30vw;
}

.campo h3 {
    margin-bottom: 5vh;
}

.campo input {
    height: 2.5vh;
    width: 35vw;
    border-radius: 2vh;
    font-size: 90%;
}

#p1 {
    margin-left: -25vw;
    font-weight: bold;
}

#email {
    width: 40vw;
}

#p2 {
    margin-left: -25vw;
    font-weight: bold;
}

#botao {
    height: 3.5vh;
    width: 30vw;
}

/* css combos*/

.topo3 {
    margin-top: -1rem;
}