@media only screen and (min-width: 1024px) {
    header {
        position: fixed;
        width: 100vw;
        margin-top: -2vw;
        padding: 1vh;
        background-color: #fdda16;
        box-shadow: 0px 0px 5px 0px #c5a801;
    }

    header img {
        margin-top: 2vh;
        margin-left: 7vw;
        width: 10rem;
        height: 8.5rem;
    }

    header ul {
        margin-top: 3vw;
    }

    .topo {
        margin-top: -0.5rem;
    }

    .logotipo {
        display: inline-flex;
        float: left;
        margin-top: -1vw;
    }

    .cabecalhomobile {
        visibility: hidden;
    }

    .cabecalhomobile img {
        visibility: hidden;
    }

    .cabecalhomobile ul li {
        list-style: none;
    }

    .cabecalhodesktop {
        margin-right: 1vw;
        margin-top: -10vw;
        position: relative;
        display: inline;
        float: right;
    }

    .cabecalhodesktop ul {
        margin-right: -10vw;
    }

    .cabecalhodesktop ul li {
        padding: 1vh;
        margin-left: 1.5vw;
        font-size: 190%;
        visibility: visible;
        display: inline;
    }

    .cabecalhodesktop a {
        text-decoration: none;
        color: #000;
    }

    .cabecalhodesktop a:hover {
        font-size: 115%;
        text-decoration: underline;
        color: #000;
    }
}