header {
    position: fixed;
    width: 105vw;
    height: 24vh;
    padding: 1vh;
    background-color: #fdda16;
    box-shadow: 0px 0px 4px 0px #c5a801;
}

header img {
    margin-top: -2vh;
    margin-left: 5vw;
    width: 35vw;
    height: 20vh;
}

.topo {
    margin-top: -1rem;
}

.logotipo {
    display: inline-flex;
    float: left;
    margin-top: 8vw;
}

.cabecalhomobile {
    display: inline-flex;
    float: right;
}

.cabecalhomobile img {
    width: 12vw;
    height: 10vh;
    margin-top: 7vh;
    margin-left: 20vw;
    transition: 0.5s, ease-in-out;
}

.cabecalhomobile ul {
    list-style: none;
}

.cabecalhomobile li {
    font-size: 200%;
    list-style: none;
}

.cabecalhomobile a {
    text-decoration: none;
    color: #000;
}

.cabecalhodesktop {
    visibility: hidden;
}