@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* screen for mobile */

* {
    font-family: Lora;
    font-weight: bold;
}

html 
{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

header 
{
    position: fixed;
    width: 105vw;
    height: 24vh;
    padding: 0px;
    background-color: #fdda16;
    box-shadow: 0px 0px 4px #fdda16;
}

header img 
{
    margin-top: -23vh;
    margin-bottom: 5vh;
    margin-left: 10vw;
    width: 35vw;
    height: 30vh;
}

body 
{
    margin: 0vw;
    padding: 0vw;
    background-color: #000;
}

main 
{
    text-align: center;
    color: #fff;
}

section img 
{
    width: 100vw;
    height: 50vh;
    margin-top: 24vh;
}

button 
{
    margin-bottom: 2vw;
    width: 25vw;
    height: 7vh;
    border-radius: 2vw;
    background-color: #fdda16;
}

footer 
{
    width: 100vw;
    position: sticky;
    margin-bottom: -5vw;
    background-color: #fdda16;
    text-align: center;
    box-shadow: 0px 0px 4px #fdda16;
}

.cabecalhomobile 
{   
    display: inline-flex;
    float: right;
    width: 15vw;   
}

.cabecalhomobile img
{
    width: 15vw;
    height: 15vh;
    margin-top: 7vw;
    margin-left: -25vw;
    cursor: pointer;
    
}

.cabecalhomobile ul
{
    list-style: none;
    font-size: 22%;
}

.cabecalhomobile img:hover
{
    cursor: pointer;
}

.cabecalhodesktop 
{
    visibility: hidden;
}

#btn_slide 
{
    position: absolute;
    margin-left: 38vw;
    margin-top: -5vh;
    opacity: 0.1;
    cursor: default;
}

#btn_slide:hover 
{
    opacity: 0.2;
}

#btn_slide input 
{
    cursor: pointer;
}

#menubar
{
    margin: none;
    display:inline;
}

.visivel
{
    visibility: visible;
    height: auto;
    transition: 0.5s
    0.5s case all;
}

.invisivel
{
    visibility: hidden;
    height: 0px;
    transition: 0.5s
    0.5s case all;
}

.prato 
{
    margin-bottom: 3vh;
    display: inline-table;
    width: 65vw;
    background-color:rgba(150,150,150,0.5);
    border-radius: 3vh;
}

.prato img 
{
    width: 75%;
    padding: 3vw;
}

.redes 
{
    margin-top: 5vw;
    margin-right: -4vw;
    padding-right: 1vw;
    display: inline-block;
}

.infos
{
    height: 3vh;
    margin-top: 10vw;
    margin-right: 14vw;
    margin-bottom: 25vw;
}

.infos a 
{
    text-decoration: none;
}

.infos a:active 
{
    transition-delay: 0.5s;
    transition: 2s;
    color: #fcb900;
}

.infos a:visited 
{
    color: #000;
}

.infos h2
{
    margin-left: 15vw;
    text-align: center;
}

/* media query for medium screens */

@media only screen and (min-width: 720px) {

    *{
        font-family: Lora;
        font-family: 20px;
        font-weight: bold;
    }
    
    html
    {
        scroll-behavior: smooth;
        overflow-x: hidden !important;
    }
    
    header
    {
        position: fixed;
        width: 100vw;
        margin-top: -2vw;
        padding: 0px; 
        background-color: #fdda16;
        box-shadow: 0px 0px 4px #fdda16;
    }
    
    header img
    {
        margin-top: -1vw;
        margin-left: 5vw;
        width: 18vw;
        height: 30vh;
    }
    
    body
    {
        margin: 0vw;
        padding: 0vw;
    }
    
    main
    {
        text-align: center;
        margin-left: 0vw;
    }
    
    section img 
    {
        width: 100vw;
        height: 72vh;
        margin-top: 21vh;
    }
    
    button
    {
        margin-top: 5vw;
        margin-bottom: 5vw;
        width: 35vw;
        height: 7vh;
        border-radius: 2vw;
        background-color: #fdda16;
        font-size: 4vh;
    }
    
    footer
    {
        width: 100vw;
        position: sticky;
        background-color: #fdda16;
        text-align: center;
        box-shadow: 0px 0px 4px #fdda16;
    }
    
    .cabecalhomobile
    {
        visibility:hidden;
    }

    .cabecalhomobile img
    {
        visibility: hidden;
    }

    .cabecalhomobile ul li
    {
        list-style: none;;
    }
    
    .cabecalhodesktop
    {
        margin-right: -12vw;
        padding-top: 12vh;
        float: right;
    }
    
    .cabecalhodesktop ul li
    {
        padding: 1.5vh;
        font-size: 4vh;
        visibility: visible;
        display: inline;
    }
    
    .cabecalhodesktop a
    {
        text-decoration: none;
        color: #000;
    }
    
    #btn_slide
    {
        position: static;
        margin-left: 45vw;
        margin-top: -5vh;
        opacity: 0.1;
        cursor: default;
    }
    
    #btn_slide:hover
    {
        opacity: 0.2;
    }
    
    #btn_slide input
    {
        cursor: pointer;
    }
    .visivel
    {
        visibility: visible;
        height: auto;
        transition: 0.5s 0.5s ease-out;
    }

    .invisivel
    {
        visibility: hidden;
        height: 0;
    }
    
    .prato
    {
        margin-bottom: 4vh;
        margin-right: 4vh;
        display: inline-grid;
        width: 40vw;
        background-color:rgba(150,150,150,0.5);
        border: transparent;
    }
    
    .prato img
    {
        margin-left: 3vw;
        width: 75%;
        padding: 2vw;
    }
    
    .redes
    {
        margin-bottom: -30vh;
        margin-right: 50vw;
        display: block;
        padding-top: 10vh;
    }
    
    .infos
    {
        margin-bottom: 5vh;
        margin-left: 55vw;
        display: block;
        padding-top: 5vh;
    }
    
    .infos a
    {
        width: 3vw;
        text-decoration: none;
        color: #000;
    }
    
    .infos a:hover
    {
        transition-delay: 0.5s;
        transition: 2s;
        color: #fcb900;
    }
    
    .infos a:visited
    {
        color: #000;
    }
    
    .infos h2
    {
        width: 9vw;
        margin-bottom: -4vh;
        list-style: none;
        text-align: center;
    }
}

/* media query for desktops */

@media only screen and (min-width: 1024px)
{
    *{
        font-family: Lora;
        font-family: 20px;
        font-weight: bold;
    }
    
    html
    {
        scroll-behavior: smooth;
        overflow-x: hidden !important;
    }
    
    header
    {
        position: fixed;
        width: 100vw;
        margin-top: -2vw;
        padding: 0px; 
        background-color: #fdda16;
        box-shadow: 0px 0px 4px #fdda16;
    }
    
    header img
    {
        margin-top: -0.5vw;
        margin-left: 5%;
        width: 20vw;
        height: 30vh;
    }
    
    body
    {
        margin: 0vw;
        padding: 0vw;
    }
    
    main
    {
        text-align: center;
        margin-left: 0vw;
    }
    
    section img 
    {
        width: 100vw;
        height: 74vh;
        margin-top: 20vh;
    }
    
    button
    {
        margin-top: 5vw;
        margin-bottom: 5vw;
        width: 35vw;
        height: 7vh;
        border-radius: 2vw;
        background-color: #fdda16;
        font-size: 4vh;
    }
    
    footer
    {
        width: 100vw;
        position: sticky;
        background-color: #fdda16;
        text-align: center;
        box-shadow: 0px 0px 4px #fdda16;
    }
    
    .cabecalhomobile
    {
        visibility:hidden;
    }

    .cabecalhomobile img
    {
        visibility: hidden;
    }

    .cabecalhomobile ul li
    {
        list-style: none;;
    }
    
    .cabecalhodesktop
    {
        margin-right: -7vw;
        padding-top: 12vh;
        float: right;
    }
    
    .cabecalhodesktop ul li
    {
        padding: 2vh;
        font-size: 5vh;
        visibility: visible;
        display: inline;
    }
    
    .cabecalhodesktop a
    {
        text-decoration: none;
        color: #000;
    }
    
    #btn_slide
    {
        position: static;
        margin-left: 45vw;
        margin-top: -5vh;
        opacity: 0.1;
        cursor: default;
    }
    
    #btn_slide:hover
    {
        opacity: 0.2;
    }
    
    #btn_slide input
    {
        cursor: pointer;
    }
    .visivel
    {
        visibility: visible;
        height: auto;
        transition: 0.5s 0.5s ease-out;
    }

    .invisivel
    {
        visibility: hidden;
        height: 0;
    }
    .prato
    {
        margin-bottom: 4vh;
        margin-right: 4vh;
        display: inline-grid;
        width: 40vw;
        background-color:rgba(150,150,150,0.5);
        border: transparent;
    }
    
    .prato img
    {
        margin-left: 3vw;
        width: 75%;
        padding: 2vw;
    }
    
    .redes
    {
        margin-bottom: -45vh;
        margin-right: 50vw;
        display: block;
        padding-top: 10vh;
    }
    
    .infos
    {
        margin-bottom: 10vh;
        margin-left: 65vw;
        display: block;
        padding-top: 5vh;
    }
    
    .infos a
    {
        width: 3vw;
        text-decoration: none;
        color: #000;
    }
    
    .infos a:hover
    {
        transition-delay: 0.5s;
        transition: 2s;
        color: #fcb900;
    }
    
    .infos a:visited
    {
        color: #000;
    }
    
    .infos h2
    {
        font-size: 4.5vh;
        width: 9vw;
        margin-bottom: -4vh;
        list-style: none;
        text-align: center;
    }
}
